<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <display-name>BookWebApp</display-name>
  <servlet>
    <description></description>
    <display-name>BookListServlet</display-name>
    <servlet-name>BookListServlet</servlet-name>
    <servlet-class>BookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookListServlet</servlet-name>
    <url-pattern>/bookList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditScreenServlet</display-name>
    <servlet-name>EditScreenServlet</servlet-name>
    <servlet-class>EditScreenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditScreenServlet</servlet-name>
    <url-pattern>/editScreen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/editurl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/deleteurl</url-pattern>
  </servlet-mapping>
</web-app>