<web-app>  
  
<servlet>  
<servlet-name>DemoServlet1</servlet-name>  
<servlet-class>DemoServlet1</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>DemoServlet1</servlet-name>  
<url-pattern>/servlet1</url-pattern>  
</servlet-mapping>  
  
<servlet>  
<servlet-name>SemoServlet2</servlet-name>  
<servlet-class>SemoServlet2</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>SemoServlet2</servlet-name>  
<url-pattern>/servlet2</url-pattern>  
</servlet-mapping>  
  
</web-app>  
