<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <display-name>StudentRegistration-1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentList</display-name>
    <servlet-name>StudentList</servlet-name>
    <servlet-class>StudentList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentList</servlet-name>
    <url-pattern>/studentList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>feesServlet</display-name>
    <servlet-name>feesServlet</servlet-name>
    <servlet-class>feesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feesServlet</servlet-name>
    <url-pattern>/fees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeesList</display-name>
    <servlet-name>FeesList</servlet-name>
    <servlet-class>FeesList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeesList</servlet-name>
    <url-pattern>/FeesList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeesEditScreenServlet</display-name>
    <servlet-name>FeesEditScreenServlet</servlet-name>
    <servlet-class>FeesEditScreenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeesEditScreenServlet</servlet-name>
    <url-pattern>/editFeesScreen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/editurl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditScreenServlet</display-name>
    <servlet-name>EditScreenServlet</servlet-name>
    <servlet-class>EditScreenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditScreenServlet</servlet-name>
    <url-pattern>/editScreen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/deleteurl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeesEditServlet</display-name>
    <servlet-name>FeesEditServlet</servlet-name>
    <servlet-class>FeesEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeesEditServlet</servlet-name>
    <url-pattern>/editurl1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletefe</display-name>
    <servlet-name>Deletefe</servlet-name>
    <servlet-class>Deletefe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletefe</servlet-name>
    <url-pattern>/deleteFeesurl1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterLecture</display-name>
    <servlet-name>RegisterLecture</servlet-name>
    <servlet-class>RegisterLecture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterLecture</servlet-name>
    <url-pattern>/Details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseList</display-name>
    <servlet-name>CourseList</servlet-name>
    <servlet-class>CourseList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseList</servlet-name>
    <url-pattern>/CourseList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseEditScreen</display-name>
    <servlet-name>CourseEditScreen</servlet-name>
    <servlet-class>CourseEditScreen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseEditScreen</servlet-name>
    <url-pattern>/editLectureScreen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseEditServlet</display-name>
    <servlet-name>CourseEditServlet</servlet-name>
    <servlet-class>CourseEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseEditServlet</servlet-name>
    <url-pattern>/editurl2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletecd</display-name>
    <servlet-name>Deletecd</servlet-name>
    <servlet-class>Deletecd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletecd</servlet-name>
    <url-pattern>/deleteLectureurl1</url-pattern>
  </servlet-mapping>
</web-app>